@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kodchasan&display=swap'); /*Campos, botones */
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap'); /*Títulos*/
@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap'); /*List box, sidebad*/
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue&display=swap');


* {
    font-family: 'Roboto', sans-serif;
}

.text-left{
    text-align: left !important;
}

@font-face {
    font-family: 'geosanslight'; 
    src: url('GEOSANSLIGHT.TTF') format('truetype');
}

body{
    background: rgb(19,31,51);
    background: -moz-linear-gradient(180deg, rgba(19,31,51,1) 34%, rgba(30,30,30,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(19,31,51,1) 34%, rgba(30,30,30,1) 100%);
    background: linear-gradient(180deg, rgba(19,31,51,1) 34%, rgba(30,30,30,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#131f33",endColorstr="#1e1e1e",GradientType=1);
    height: 100vh;
    
}
.test{
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position:center; 
    background-attachment: fixed;
    height: 100vh;
}
::placeholder{
    color: white !important;
}
.logo-img{
    filter: brightness(10000%);
}
.logo-e{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.logo-e img{
    width: 400px !important;
    height: 200px !important;
}
span{
    color: white;
    font-family: geosanslight;
    letter-spacing: 3px;
    margin-top: 10px;
}

::selection {
    background-color: #fff;
    color:#c53aff;
    text-shadow: none;
}

.accordion-button, .accordion-button:not(.collapsed), .accordion-button:focus {
    background-color: #000;
}

.accordion-button > h2 {
    color: #a7ee54;
}

.accordion-button:not(.collapsed) > h2 {
    color: #c53aff;
}

.accordion-button::after {
    background-image: url("data:image/svg+xml,%3Csvg style='color: rgb(197  58  255)%3B' xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-arrow-up-square-fill' viewBox='0 0 16 16'%3E%3Cpath d='M2 16a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2zm6.5-4.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 1 0z' fill='%23c53aff'%3E%3C/path%3E%3C/svg%3E");
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3Csvg style='color: rgb(197  58  255)%3B' xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-arrow-up-square-fill' viewBox='0 0 16 16'%3E%3Cpath d='M2 16a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2zm6.5-4.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 1 0z' fill='%23c53aff'%3E%3C/path%3E%3C/svg%3E");
}

.accordion {
    --bs-accordion-btn-icon-width: 2.0rem;
    --bs-accordion-btn-focus-border-color: none;
    --bs-accordion-btn-focus-box-shadow: none;
    --bs-accordion-border-color: none;
}

.accordion-body {
    background-color: #000;
}

@media screen and (min-width: 769px) {
    .FStat{
        position: absolute;
        margin-left: 560px;
        transform: translateX(-50%);
    }
}
.dashboard-t{
    background-color: transparent;
    /* 
    border-width: 0px 0px 3px 0px;
    border-color: #0de4fe; */
}

.dash-w{
    width: 80%;
}
@media(max-width: 321px){
    .dash-w{
        overflow-x: hidden;
    }
}
@media(max-width: 767px){
    .dash-w{
        width:100%
    }
}
/*Tarjetas circulares Asistidos*/
.Padre{
    gap: 30px;
    justify-content: center;
}
.progress-bar {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background: 
      radial-gradient(closest-side, #1e1e1e 79%, transparent 80% 00%),
      conic-gradient(rgb(167,82, 202), rgb(24, 228, 237));    
    display: flex;
    justify-content: center !important;
    align-items: center;
    margin-left: 50%;
    transform: translateX(-50%);
  }
  .progress-bar2{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background: 
      radial-gradient(closest-side, #1e1e1e 79%, transparent 80% 00%),
      conic-gradient(rgb(167,82, 202), rgb(24, 228, 237));    
    display: flex;
    justify-content: center !important;
    align-items: center;
  }
  progress{
    height: 0px;
    width: 0px;
  }
  .pb-data {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .pb-data span{
    font-size: 6em;
    font-weight: bold;
    background: -moz-linear-gradient(180deg, rgba(24,228,237,1) 0%, rgba(167,82,202,1) 86%);
    background: -webkit-linear-gradient(180deg, rgba(24,228,237,1) 0%, rgba(167,82,202,1) 86%);
    background: linear-gradient(180deg, rgba(24,228,237,1) 0%, rgba(167,82,202,1) 86%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#18e4ed",endColorstr="#a752ca",GradientType=1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .pb-data p{
    color: white;
    font-size: 1.4em;
    font-weight: bold;
    transform: translateY(-10px);
  }
  .ov{
    max-width: 100%; /* Limita el ancho máximo del body al ancho de la pantalla */
    overflow-y: visible;
    overflow-x: auto;
  }
  .p2{
    width: 230px; 
    height: 230px;
  }
  .p3{
    width: 200px; 
    height: 200px;
  }
  .p3 .sec p{
    font-size: 1em;
  }
  .p4{
    width: 150px; 
    height: 150px;
  }
  .p4 span{
    font-size: 5em;
    margin-right: 0.35em;
  }
  .p4 p{
    /* margin-top: 5vh; */
    font-size: 1.2em;
  }
  .p4 .sec{
    margin-top: 30px;
  }
  .container-stats{
    display: flex;
    
  }

  /*CARDS EVENTOS EXPOSITORES EMPRESAS*/
  .target-wrapper{
    padding: 30px;
    height: 400px;
    width: 350px;
    background: rgb(9,6,23);
    background: rgb(9,6,23);
    background: -moz-linear-gradient(180deg, rgba(9,6,23,0.2047991071428571) 7%, rgba(19,31,51,1) 83%);
    background: -webkit-linear-gradient(180deg, rgba(9,6,23,0.2047991071428571) 7%, rgba(19,31,51,1) 83%);
    background: linear-gradient(180deg, rgba(9,6,23,0.2047991071428571) 7%, rgba(19,31,51,1) 83%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#090617",endColorstr="#131f33",GradientType=1);
  }
  .target-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 320px;
  }

  .numberP{
    font-size: 2.5em;
  }
  .info{
    color: white;
    font-size: 2em;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /*--------------------------*/  
  #legend-container{
    flex-direction: column;
  }

  /*--------------------------*/


.center-text-v{
    align-items:center;
    justify-content:center;
}

div.backgroundImg {
    background: rgb(19,31,51);
    background: -moz-linear-gradient(180deg, rgba(19,31,51,1) 34%, rgba(30,30,30,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(19,31,51,1) 34%, rgba(30,30,30,1) 100%);
    background: linear-gradient(180deg, rgba(19,31,51,1) 34%, rgba(30,30,30,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#131f33",endColorstr="#1e1e1e",GradientType=1);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment:fixed;
}

p,label,h1,h4,h5,h2 {
    color:rgb(255, 255, 255);
}

h1,h5 {
    /* text-shadow: 0 0 10px #ffffff; */
}

h6{
    color:rgb(255, 255, 255);
    text-shadow: 0 0 10px #ffffff;
    border: 4px outset #c53aff;
    background-color: rgba(255, 255, 255, 0.397);
}

.nav-tabs {
    align-items: end;
    border-bottom: 2px solid #000;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background: black;
    border: none;
    color: #21decb;
}

.nav-tabs .nav-link {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    border: none;
    background-color: #333;
    color: rgb(255, 255, 255);
}

b {
    color:#21decb;
}


.form-select, input:not(input[type=image]),input:not(input[type=image]):focus {
    background-color:#1F2540;
    color:rgb(255, 255, 255);
}

.input-group{
    display: flex;
    align-items: center;
    gap: 0.5em;
}
.input-group label{
    width: 200px;
}
div.input-group-text {
    color: #39f6e4;
    background-color:rgba(1,1,1,0);
    border-radius: 0rem;
    border: none;
}

/* .form-control, .form-select {
    border-radius: 0rem;
    border: none;
    border-bottom: 2px solid #39f6e4;
} */
.form-control:disabled{
    background-color: #e9ecef00;
}

.border, .form-control{
    display: flex;
    flex-direction: column;
    border: none !important;
    gap: 0px;
}
 .border::after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background: rgb(76,165,231) !important;
    background: -moz-linear-gradient(90deg, rgba(76,165,231,0) 0%, rgba(76,165,231,1) 48%, rgba(30,30,30,0) 100%) !important;
    background: -webkit-linear-gradient(90deg, rgba(76,165,231,0) 0%, rgba(76,165,231,1) 48%, rgba(30,30,30,0) 100%) !important;
    background: linear-gradient(90deg, rgba(76,165,231,0) 0%, rgba(76,165,231,1) 48%, rgba(30,30,30,0) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4ca5e7",endColorstr="#1e1e1e",GradientType=1) !important;
    margin: 10px;
} 
.borderContainer{
    background: rgb(154,8,215);
    background: -moz-linear-gradient(0deg, rgba(154,8,215,1) 4%, rgba(19,31,51,1) 83%);
    background: -webkit-linear-gradient(0deg, rgba(154,8,215,1) 4%, rgba(19,31,51,1) 83%);
    background: linear-gradient(0deg, rgba(154,8,215,1) 4%, rgba(19,31,51,1) 83%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9a08d7",endColorstr="#131f33",GradientType=1);    
    padding: 3px;

}
.borderBody{
    background: rgb(19,31,51);
    background: -moz-linear-gradient(180deg, rgba(19,31,51,1) 34%, rgba(30,30,30,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(19,31,51,1) 34%, rgba(30,30,30,1) 100%);
    background: linear-gradient(180deg, rgba(19,31,51,1) 34%, rgba(30,30,30,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#131f33",endColorstr="#1e1e1e",GradientType=1);   
    padding: 10px 25px;
}
.QRborderBody{
    background: rgb(19,31,51);
    background: -moz-linear-gradient(180deg, rgba(19,31,51,1) 34%, rgba(30,30,30,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(19,31,51,1) 34%, rgba(30,30,30,1) 100%);
    background: linear-gradient(180deg, rgba(19,31,51,1) 34%, rgba(30,30,30,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#131f33",endColorstr="#1e1e1e",GradientType=1);   
    padding: 10px 25px;
}
.infoContainer{
    display: flex !important;
    flex-direction: row;
}
.invitados{
    height: 301px;
}
.titleEvent{
    justify-content: center;
}
.titleEvent h1{
    color: #00afc4 !important;
    font-family: 'Bruno Ace', cursive;
}

.expositor-w{
    width:84.6%
}

@media(max-width: 767px){
    .expositor-w{
        width:100%
    }
}
/* input:disabled, .form-control:disabled, .form-select:disabled {
    border-bottom: 2px solid #333;
} */

.form-control:focus, .form-select:focus {
    border-bottom: 2px solid #e23a87;
}

.swal2-styled.swal2-confirm:focus {
    box-shadow: 0 0 5px 2px #861dc2;
}

.btn-primary, .swal2-styled.swal2-confirm {
    color: rgb(255, 255, 255);
    background: rgb(62,226,255);
    background: -moz-linear-gradient(90deg, rgb(154,8,215) 19%, rgba(22,30,55,0) 100%);
    background: -webkit-linear-gradient(90deg, rgb(154,8,215) 19%, rgba(22,30,55,0) 100%);
    background: linear-gradient(90deg, rgb(154,8,215) 19%, rgba(22,30,55,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3ee2ff",endColorstr="#161e37",GradientType=1);
    border: none;
    border-radius: 15px;
}

/**/
/* .right-container{
    width: 100vw;
} */
.sides{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#login{
    transform: scale(1.2);
}
.right-container img{
    /*width: 500px;
    height: 700px;
    margin-left: 200px;*/
    width: 100%;
    height: auto;
    

    mix-blend-mode: lighten;
    background-repeat: no-repeat;
    filter: brightness(85%);
    transform: scale(1.3);
}

@media (max-width: 767px) {
    .right-container {
        display: none;
    }

    #login
    {
        width: 100% !important;
    }
}

@media (max-width: 768px)
{
    .space-btns, #img-lmad {
        display: none !important;
    }
}

@media screen and (max-width: 425px) {
    #login{
        display: flex;
        flex-direction: column;
    }
    .test{
        width: 100vw;
    }
}

.btn-primary:hover,
.swal2-confirm:hover {
    color: snow;
    background-color: #861dc2;
    box-shadow: 0 0 5px 2px #861dc2;
    border: none;
}

.btn-secondary, .swal2-styled.swal2-cancel {
    color: black;
    background-color: #39f6e4;
    border: none;
    border-radius: 15px;
}

.btn-secondary:focus .swal2-styled.swal2-cancel:focus {
    box-shadow: 0 0 5px 2px #21decb;
}

.btn-secondary:hover, .swal2-styled.swal2-cancel:hover {
    background-color: #21decb;
    box-shadow: 0 0 5px 2px #21decb;
    border: none;
}

.form-control:focus, .form-select:focus {
    box-shadow: none;
    border: none;
    outline: none;
}
.form-select{
    border: none;
}

input[type="date"]::-webkit-calendar-picker-indicator, input[type="time"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}


a>i.bi, .nav-txt, .navbar-brand {
    color: #c53aff;
}


.nav-txt {
    font-style:normal;
    font-size:1.1rem!important;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(131, 201, 50, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler-icon:hover {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(201, 32, 108, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-txt:hover, a:hover>i.bi .nav-txt,a:hover>i.bi , .navbar-brand:hover, .navbar-toggler:hover {
    color: #0de4fe;

}

.bg-dark {
    background-color: #000000!important;
}

#password-reveal{
    display: block!important;
    color: red;
}

.btn-primary, .btn-secondary{
    font-style:bold;
}

hr.colorfull {
    height:2px;
    border:0px;
    background: linear-gradient(to right, #39f6e4, #a7ee54);
    opacity: 1;
    box-shadow: 0 20px 20px -20px #333;
}

.div-colorfull{
    border: 2px solid;
    border-image: linear-gradient(to right, #39f6e4, #a7ee54);
    border-image-slice: 1;
    border-radius:50%
}


.table-responsive{
    width: 100%;
    /* outline: 1px solid red; */
}
tbody, td, tfoot, th, thead, tr {
    text-align: center;
    vertical-align: middle;
}

tbody tr:nth-child(odd) {
/*     background: rgb(19,31,51); */
    background: transparent;

  }
  
  tbody tr:nth-child(even) {
    background: linear-gradient(90deg, rgba(0, 235, 210,0) 0%, rgb(27, 40, 88) 50%, rgba(24,228,237,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3b91ed",endColorstr="#18e4ed",GradientType=1);
  }


thead{
    
    color: snow;
    background-color: transparent;
    width: 100%;
}
thead th{
    padding-left: 0px !important ;
    padding-right: 0px !important ;
}
.borderTable{
    width: 100%;
    
}

.borderTable th::after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background: rgb(0, 235, 210);
    background: -moz-linear-gradient(90deg, rgba(0, 235, 210,0) 0%, rgba(0, 235, 210) 73%);
    background: -webkit-linear-gradient(90deg, rgba(0, 235, 210,0) 0%, rgba(0, 235, 210) 73%);
    background: linear-gradient(90deg, rgba(0, 235, 210,0) 0%, rgba(0, 235, 210) 73%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3b91ed",endColorstr="#21316d",GradientType=1);
    
}
.borderTableRight{
    
    
}

.borderTableRight::after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background: rgb(33,49,109) !important;
    background: -moz-linear-gradient(90deg, rgba(0, 235, 210) 0%, rgba(59,145,237,0) 100%) !important;
    background: -webkit-linear-gradient(90deg, rgba(0, 235, 210) 0%, rgba(59,145,237,0) 100%) !important;
    background: linear-gradient(90deg, rgba(0, 235, 210) 0%, rgba(59,145,237,0) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#21316d",endColorstr="#3b91ed",GradientType=1);
    
}

tbody {
    color: snow;
    background-color: transparent;
}

table {
    margin-top: 25px;
    text-align: center;
}

input[readonly]::after, .readonly{
    /* border-bottom: 2px solid #0de4fe!important;
    text-shadow: 0 0 4px #ff0000!important; */
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background: rgb(76,165,231) !important;
    background: -moz-linear-gradient(90deg, rgba(76,165,231,0) 0%, rgba(76,165,231,1) 48%, rgba(30,30,30,0) 100%) !important;
    background: -webkit-linear-gradient(90deg, rgba(76,165,231,0) 0%, rgba(76,165,231,1) 48%, rgba(30,30,30,0) 100%) !important;
    background: linear-gradient(90deg, rgba(76,165,231,0) 0%, rgba(76,165,231,1) 48%, rgba(30,30,30,0) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4ca5e7",endColorstr="#1e1e1e",GradientType=1) !important;
}

.form-check-input:focus[type=radio], .form-check-input[type=radio] {
    background: #131F33;
    border-color: #21decb;
    border-width: 0.15rem;
    box-shadow: 0 0 5px 0px #21decb;
}

.form-check-input:checked[type=radio] {
    background: black;
    border-color: #c53aff;
    border-width: 0.25rem;
    box-shadow: 0 0 10px 1px #c53aff;
}

.form-check-input[type=radio] {
    width: 1em;
    height: 1em;
}


.form-check-input:focus[type=checkbox], .form-check-input[type=checkbox], input[type=checkbox] {
    background: black;
    border-color: #21decb;
    border-width: 0.15rem;
    box-shadow: 0 0 5px 0px #21decb;
}

.form-check-input:checked[type=checkbox], .ms-drop input:checked[type=checkbox] {
    background: #c53aff;
    border-color: #c53aff;
    box-shadow: 0 0 10px 1px #c53aff;
}

a.btn-table>i.bi {
    color: snow;
    margin: 0.5rem;
}

a.btn-table {
    padding: 5px;
    width: fit-content;
    height: fit-content;
}

a.btn-table.btn-secondary > i.bi {
    color:black;
}

.btn-table+:not(.btn-secondary) {
    background-color: #861dc2;
}

.btn-table:hover+:not(.btn-secondary) {
    background-color: #c53aff;
}

a.btn-table[disabled] {
    background-color: #c53aff80;
    cursor: default;
}

a.btn-table[disabled]:active {
    background-color: #c53aff80;
}

a.btn-table[disabled]:hover {
    box-shadow: 0 0 0 0;
}

th.w-priority{
    min-width:8rem;
    border-bottom: 0.1rem solid #00EBD2;
    background: #1F2540;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.page-item .page-link {
    border-radius: 50%!important;
    margin-right: 1.5rem;
}

.page-item .page-link.active {
    color: black;
    background-color: #39f6e4;
}

.page-item .page-link.active:hover {
    color: black;
    background-color: #21decb;
    box-shadow: 0px 0px 5px 1px #21decb;
}

input[type="search"]::-webkit-search-cancel-button {

    /* Remove default */
    -webkit-appearance: none;

    /* Now your own custom styles */
    height: 1rem;
    width: 1rem;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' stroke-linecap='round' fill='none' stroke-width='2' stroke='rgb(0,0,0)'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
    background-color: #c53aff;
    border-radius: 50%;
    cursor: pointer;
}

input[type="search"]::-webkit-search-cancel-button:hover {

    /* Remove default */
    -webkit-appearance: none;

    /* Now your own custom styles */
    height: 1rem;
    width: 1rem;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' stroke-linecap='round' fill='none' stroke-width='2' stroke='rgb(0,0,0)'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
    background-color: #0de4fe;
    border-radius: 50%;
    box-shadow: 0 0 5px 1px #0de4fe;
    cursor: pointer;
}

.btn:active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 1px 1px #861dc2;
    /* Lowering the shadow */
    background-color: rebeccapurple;
}

.btn:focus {
    box-shadow: none;
}

.ms-drop{
    background-color: #000000;
}

.CarouselImg{
    width: auto;
    height: 350px;
    max-height: 350px;
}
.carouselContainer{
    border: 1px solid rgb(40, 51, 70);
}
.form-floating>.form-control, .form-floating>.form-control-plaintext, .form-floating>.form-select {
    height:unset;
    line-height: 1.25;
}

::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: black;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .btn-pagination{
    background-color: #2a2844;
    border-radius: 15px;
    border: 0px;
    height: 50px;
    width: 7%;
    color: snow;
    --shadow-color: snow;
    font-weight: bold;
}

.btn-pagination:hover:enabled{
    background-color: #7E00E1;
    border-radius: 15px;
    border: 0px;
    height: 50px;
    width: 7%;
    color: snow;
    box-shadow: 0 0 5px 2px #861dc2;
     --shadow-color: snow;
    font-weight: bold;
}

.btn-pagination:disabled{
    background-color: #141424;
    border-radius: 15px;
    border: 0px;
    height: 50px;
    width: 7%;
    color: #636262;
     --shadow-color: #636262;
    font-weight: bold;
}

.field h3{
    color:white
}

.title-register-team, .title-expositor
{
    color: #00AFC4;
    text-align: center;
    font-family: Bruno Ace;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    padding: 0;
}

.radio-input-proyecto
{
    display: none;
}

.radio-input-proyecto + label
{
    width: 1.5em !important;
    height: 1.5em !important;
    border-radius: 50%;
    border: 5px solid #9A08D7;
    box-shadow: 0 0 15px 0 #9908d7;
    margin-top: 15px;
    margin-right: 10px;
    background-color: rgba(0, 235, 212, 0)5e;
}

.radio-input-proyecto:checked + label
{
    background-color: #00EBD2;
    box-shadow: 0 0 13px 0 #00ebd48f;
}

.radio-reg-proyecto
{
    color: #FFF;
    font-family: Kodchasan;
    font-size: .9em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.label-reg-proyecto
{
    color: #FFF;
    font-family: Kodchasan;
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    padding-left: 17px;
}

.input-reg-proyecto, .input-reg-proyecto-area, .input-login
{
    outline: none;
    background: #1F2540;
    border: none; /* Elimina el borde predeterminado */
    border-bottom: 1px solid #00EBD2;
    width: 95%;
    height: 32px;
    color: #FFF;
    font-family: Kodchasan;
    border-radius: 5px;
    transition: all 1.3s;
}

.input-login{
    font-size: small;
}

.input-reg-proyecto::-webkit-inner-spin-button,
.input-reg-proyecto::-webkit-outer-spin-button,
.input-login::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-reg-proyecto::placeholder
{
    text-align: center; /* Centra horizontalmente el texto del placeholder */
    left: 50%; /* Mueve el texto hacia la mitad del input */
    transform: translateX(0%);
}

.input-login:focus, .input-login:active{
    border-bottom: 2px solid #00EBD2;
    background: #8d9eec;
}

.input-reg-proyecto-area
{
    height: 75px;
}

.input-reg-proyecto option
{
    background-color: #131f33;
    border: 0px;
}

.input-reg-proyecto option:active
{
    background-color: rgba(108, 108, 108, 0.047);
}

.btn_regProj
{
    width: 225px;
    height: 50px;
    border: 0px;
    border-radius: 39px;
    background: linear-gradient(90deg, #9A08D7 -26.58%, rgba(33, 49, 109, 0.12) 100%);
    color: #FFF;
    text-align: center;
    font-family: Kodchasan;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 30px;
    transition: background-color 0.2s ease;
    transition: box-shadow 0.2s ease;
}

.btn_regProj:hover
{
    color: snow;
    background-color: #861dc2;
    box-shadow: 0 0 5px 2px #861dc2;
    border: none;
}

/*Teacher show*/
.class-subject-teacher-container
{
    min-height: 290px;
    background-image: linear-gradient(to bottom left, #18E4ED, #A748CA);
    border-radius: 22px;
    padding: 1px;
    height: 100%;
}

.input-reg-proyecto option
{
    background-color: #131f33;
    border: 0px;
}

.input-reg-proyecto option:active
{
    background-color: rgba(108, 108, 108, 0.047);
}

.class-subject-teacher
{
    background: #131f33;
    background: -moz-linear-gradient(180deg, rgba(19,31,51,1) 34%, rgba(30,30,30,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(19,31,51,1) 34%, rgba(30,30,30,1) 100%);
    background: linear-gradient(180deg, rgba(19,31,51,1) 34%, rgba(30,30,30,1) 100%);
    min-height: 325px;
    /*border: 2px solid transparent; 
    border-image: linear-gradient(to bottom left, #18E4ED, #A748CA) 1; 
    border-image-slice: 1;*/
    border-radius: 22px;
    width: 100% !important;
    height: 100% !important;
   /* border-top: 1px solid #A748CA;
    border-right: 3px solid #A748CA;
    border-bottom: 3px solid #A748CA;
    border-left: 1px solid #A748CA;

    filter: drop-shadow(0px 0px 4px #777BD5);*/
}

.title-card-show-subject
{
    color: #D9D9D9;
    text-align: center;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-shadow: 0 0 10px rgba(0, 235, 210, 0.8), 0 0 20px rgba(154, 8, 215, 0.8);
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

.sub-title-card-show-subject
{
    color: #00AFC4;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 30px;
}

.text-card-show-subject
{
    color: #FFF;
    font-family: Epilogue;
    font-size: medium;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}


.button-coppy {
    color: rgb(255, 255, 255);
    background: rgb(62, 226, 255);
    background: -moz-linear-gradient(90deg,#9A08D7, #21316d34);
    background: -webkit-linear-gradient(90deg, #9A08D7, #21316d34);
    background: linear-gradient(90deg, #9A08D7, #21316d34);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3ee2ff", endColorstr="#161e37", GradientType=1);
    border: none;
    border-radius: 20px;
    padding: 15px;
    padding-left: 17px;
    padding-right: 17px;
    height: 3.6rem;
    width: 3.5rem;
}

.button-coppy:active {
    color: rgb(255, 255, 255);
    background: rgb(62, 226, 255);
    background: -moz-linear-gradient(90deg,#4d046c, #21316d34);
    background: -webkit-linear-gradient(90deg, #4d046c, #21316d34);
    background: linear-gradient(90deg, #4d046c, #21316d34);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3ee2ff", endColorstr="#161e37", GradientType=1);
    border: none;
    border-radius: 20px;
    padding: 15px;
    padding-left: 17px;
    padding-right: 17px;

}


.button-coppy-icon{
    size: 5%;
}

.checkbox {
    position: relative;
    height: 20px !important;
    width: 20px !important;
    border: 0.1rem solid #eee;
    border-radius: 0.1rem;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
  
    &::after {
        position: absolute;
        display: none;
        width: 0.5rem;
        height: 0.25rem;
        border: solid #9B4444;
        border-width: 0 0.2rem 0.2rem 0;
        transform: rotate(45deg);
        left: 0.25rem;
        top: 0.3rem;
        transition: all .3s;
    }
  }
  
  .bulgy-checkboxes {
      width: 100%;
      background: none;
      label {
        background-color: #00000000;
        cursor: pointer;
        user-select: none;
        &:hover input:not(:checked) ~ .checkbox {
            opacity: 0.8;
        }
      }
      input {
        cursor: pointer;
        height: 0;
        width: 0;
        left: -20000px;
  
        &:checked {
          ~ .checkbox {
              background-color: #18E4ED;
              box-shadow: 0rem 0rem 0.s1rem 0.15rem #18E4ED;
              transition: all .3s;
              margin: 0.5rem;
              border: 0;
          }
        }
      }
  }

#searchEvent, #searchCompany {
    background-image: linear-gradient(to left, rgba(0, 235, 210, 0) 0%, #08635ac5 73%);
}